node-red-flows/floor-01/flows.json
[
    {
        "id": "1",
        "type": "tab",
        "label": "Floor 01 Gateway",
        "disabled": false,
        "info": "IoT Gateway for Floor 01 - Handles MQTT and CoAP protocol translation"
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "z": "1",
        "name": "HiveMQ Broker",
        "broker": "hivemq-broker",
        "port": "1883",
        "clientid": "gateway-floor-01",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4"
    },
    {
        "id": "mqtt-subscribe",
        "type": "mqtt in",
        "z": "1",
        "name": "Floor 01 MQTT Telemetry",
        "topic": "campus/b01/f01/+/telemetry",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": false,
        "x": 150,
        "y": 100,
        "wires": [["mqtt-process", "thingsboard-forward"]]
    },
    {
        "id": "mqtt-process",
        "type": "function",
        "z": "1",
        "name": "Process MQTT Data",
        "func": "// Process incoming MQTT telemetry\nconst data = msg.payload;\nconst topic = msg.topic;\n\n// Extract room ID from topic\nconst topicParts = topic.split('/');\nconst roomId = topicParts[3];\n\n// Add gateway metadata\nmsg.payload = {\n    ...data,\n    gateway: 'floor-01',\n    protocol: 'mqtt',\n    processed_at: new Date().toISOString(),\n    room_id: roomId\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 100,
        "wires": [["floor-aggregator"]]
    },
    {
        "id": "thingsboard-forward",
        "type": "mqtt out",
        "z": "1",
        "name": "To ThingsBoard",
        "topic": "v1/devices/me/telemetry",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt-broker",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "floor-aggregator",
        "type": "function",
        "z": "1",
        "name": "Floor Data Aggregator",
        "func": "// Aggregate floor data for edge processing\nconst context = this.context();\nconst currentData = msg.payload;\nconst roomId = currentData.room_id;\n\n// Store room data\ncontext.set(roomId, currentData);\n\n// Get all room data for this floor\nconst allRooms = context.keys();\nconst floorData = {\n    floor: '01',\n    timestamp: new Date().toISOString(),\n    total_rooms: allRooms.length,\n    rooms: {}\n};\n\n// Calculate floor averages\nlet totalTemp = 0;\nlet totalHumidity = 0;\nlet onlineCount = 0;\n\nallRooms.forEach(roomId => {\n    const roomData = context.get(roomId);\n    if (roomData) {\n        floorData.rooms[roomId] = roomData;\n        totalTemp += roomData.temperature;\n        totalHumidity += roomData.humidity;\n        if (roomData.status === 'ONLINE') {\n            onlineCount++;\n        }\n    }\n});\n\nfloorData.average_temperature = totalTemp / allRooms.length;\nfloorData.average_humidity = totalHumidity / allRooms.length;\nfloorData.online_rooms = onlineCount;\n\n// Send floor summary every 60 seconds\nconst lastSummary = context.get('lastSummary') || 0;\nconst now = Date.now();\n\nif (now - lastSummary > 60000) {\n    context.set('lastSummary', now);\n    msg.payload = floorData;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 100,
        "wires": [["floor-summary-out"]]
    },
    {
        "id": "floor-summary-out",
        "type": "mqtt out",
        "z": "1",
        "name": "Floor Summary",
        "topic": "campus/b01/f01/summary",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt-broker",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "coap-observe",
        "type": "coap observe",
        "z": "1",
        "name": "CoAP Room Observers",
        "url": "coap://localhost:5683/telemetry",
        "method": "GET",
        "observe": true,
        "accept": "application/json",
        "x": 150,
        "y": 300,
        "wires": [["coap-process"]]
    },
    {
        "id": "coap-process",
        "type": "function",
        "z": "1",
        "name": "Process CoAP Data",
        "func": "// Process incoming CoAP telemetry\nconst data = JSON.parse(msg.payload);\n\n// Add gateway metadata\nmsg.payload = {\n    ...data,\n    gateway: 'floor-01',\n    protocol: 'coap',\n    processed_at: new Date().toISOString()\n};\n\n// Convert to MQTT format for ThingsBoard\nmsg.topic = `v1/devices/me/telemetry`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 300,
        "wires": [["coap-to-mqtt"]]
    },
    {
        "id": "coap-to-mqtt",
        "type": "mqtt out",
        "z": "1",
        "name": "CoAP to MQTT Bridge",
        "topic": "campus/b01/f01/+/telemetry",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt-broker",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "command-handler",
        "type": "mqtt in",
        "z": "1",
        "name": "Floor 01 Commands",
        "topic": "campus/b01/f01/+/cmd",
        "qos": "2",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": false,
        "x": 150,
        "y": 400,
        "wires": [["command-process"]]
    },
    {
        "id": "command-process",
        "type": "function",
        "z": "1",
        "name": "Process Commands",
        "func": "// Process incoming commands\nconst command = msg.payload;\nconst topic = msg.topic;\n\n// Extract room ID from topic\nconst topicParts = topic.split('/');\nconst roomId = topicParts[3];\n\n// Determine if this is an MQTT or CoAP room\nconst mqttRooms = ['b01-f01-r011', 'b01-f01-r012', 'b01-f01-r013', 'b01-f01-r014', 'b01-f01-r015',\n                   'b01-f01-r016', 'b01-f01-r017', 'b01-f01-r018', 'b01-f01-r019', 'b01-f01-r020'];\n\nif (mqttRooms.includes(roomId)) {\n    // Forward to MQTT room\n    msg.topic = `campus/b01/f01/${roomId}/cmd`;\n    return [msg, null];\n} else {\n    // Forward to CoAP room\n    const coapPort = 5683 + (parseInt(roomId.split('-')[2].substring(1)) - 11);\n    msg.url = `coap://localhost:${coapPort}/actuators`;\n    msg.method = 'PUT';\n    msg.payload = JSON.stringify(command);\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 400,
        "wires": [["mqtt-command-out"], ["coap-command-out"]]
    },
    {
        "id": "mqtt-command-out",
        "type": "mqtt out",
        "z": "1",
        "name": "MQTT Command",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "mqtt-broker",
        "x": 650,
        "y": 350,
        "wires": []
    },
    {
        "id": "coap-command-out",
        "type": "coap request",
        "z": "1",
        "name": "CoAP Command",
        "url": "",
        "method": "PUT",
        "contenttype": "application/json",
        "payload": "",
        "x": 650,
        "y": 450,
        "wires": [["command-response"]]
    },
    {
        "id": "command-response",
        "type": "function",
        "z": "1",
        "name": "Process Response",
        "func": "// Process command response\nconst response = msg.payload;\n\n// Add response metadata\nmsg.payload = {\n    response: response,\n    timestamp: new Date().toISOString(),\n    gateway: 'floor-01'\n};\n\n// Publish response\nmsg.topic = 'campus/b01/f01/response';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 450,
        "wires": [["response-out"]]
    },
    {
        "id": "response-out",
        "type": "mqtt out",
        "z": "1",
        "name": "Command Response",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt-broker",
        "x": 1150,
        "y": 450,
        "wires": []
    }
]
